{% extends "zinit-plugins-default.zsh.j2" %}

{% block zinit_plugins %}

{{ super() }}
zinit load agkozak/zsh-z
zinit ice atclone="pip3 install ." atpull="%atclone" pick="virtualenvwrapper_lazy.sh" ver="4.8.4"; zinit load python-virtualenvwrapper/virtualenvwrapper
{% endblock %}
