{% extends "zinit-plugins-default.zsh.j2" %}

{% block zinit_plugins %}

{{ super() }}
zinit load agkozak/zsh-z
zinit ice pick="virtualenvwrapper_lazy.sh"; zinit load bernardobarreto/virtualenvwrapper
{% endblock %}
